<div class="views login"  ng-controller="UserRegistrationCtrl as $ctrl">

    <div class="alert alert-danger alert-dismissible" role="alert" ng-if="dati.feedback">registration failed: {{ dati.feedback }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

<form id="frmRegister" role="form" ng-submit="signUp()">
    <h2>Register</h2>
    <div class="form-group">
        <label for="txtName">Name</label>
        <input type="text" class="form-control" id="txtName" placeholder="Enter name" name="name" ng-model="user.name" />
    </div>
    <div class="form-group">
        <label for="txtSurname">Surname</label>
        <input type="text" class="form-control" id="txtSurname" placeholder="Enter surname" name="surname" ng-model="user.surname" />
    </div>

    <div class="form-group">
        <b>Profile image:</b>
        <file-upload on-change="$ctrl.onChange">
        </file-upload>
    </div>

    <div class="form-group">
        <label for="txtNickname">Nickname</label>
        <input type="text" class="form-control" id="txtNickname" placeholder="nickname..." name="nickname" ng-model="user.nickname" />
    </div>

    <div class="form-group">
        <label for="txtAge">Age</label>
        <input type="text" class="form-control" id="txtAge" placeholder="age..." name="age" ng-model="user.age" />
    </div>

    <div class="form-group">
        <label for="txtCitta">City</label>
        <input type="text" class="form-control" id="txtCitta" placeholder="city..." name="citta" ng-model="user.citta" />
    </div>

    <div class="form-group">
        <label for="txtInfos">Infos</label>
        <textarea type="text" class="form-control" id="txtInfos" maxlength="150" placeholder="a brief introduction of you..." name="infos" ng-model="user.infos"></textarea>
    </div>

    <div class="form-group">
        <label for="txtEmail">Email address</label>
        <input type="email" class="form-control" id="txtEmail" placeholder="Enter email" name="email" ng-model="user.email" />
    </div>
    <div class="form-group">
        <label for="txtPass">Password</label>
        <input type="password" class="form-control" id="txtPass" placeholder="Password" name="password" ng-model="user.password" />
    </div>
    <div class="form-group">
        <label for="txtPass2">Confirm Password</label>
        <input type="password" class="form-control" id="txtPass2" placeholder="Confirm password" name="password2" ng-model="user.password2" />
    </div>

    <button type="submit" class="btn btn-success center-block loginBtn">Register</button>
</form>
</div>