<div class="input-group" id="ricerca">
    <input type="text" class="form-control" placeholder="Search">
    <span class="input-group-btn">
        <button class="btn btn-default glyphicon glyphicon-search" id="searchBtn" type="button"></button>
      </span>
</div>

<button class="tablink" onclick="showEvent()" id="defaultOpen">events</button>
<button class="tablink" onclick="showClubbers()">clubbers</button>
<button class="tablink" onclick="showDJs()">DJs</button>
<span class="tablink glyphicon glyphicon-tasks" id="filterIcon"></span>

<div class="container" id="galleryContainer">
    <div class="row" id="grid">
        <div class="col-lg-3 col-md-3 col-xs-4 thumb eventGrid" ng-repeat="evento in dati.events">
            <a class="thumbnail tall" href="#">
                <img class="img-responsive" ng-src="{{evento.img}}">
            </a>
            <p class="nomeRicerca">  </p>
        </div>
        <div class="col-lg-3 col-md-3 col-xs-4 thumb userGrid" ng-repeat="user in dati.users">
            <a class="thumbnail tall" href="#">
                <img class="img-responsive" ng-src="{{user.img_url}}">
            </a>
            <p class="nomeRicerca"> hguyf  </p>
        </div>
    </div>
</div>