<div class="blocco">
    <!-- Videogular -->
    <div ng-app="myApp.eventView" ng-controller="eventViewCtrl">
        <div ng-controller="videoCtrl as controller" class="videogular-container">
            <videogular vg-player-ready="controller.onPlayerReady($API)" vg-update-state="controller.onUpdateState($state)" vg-theme="controller.config.theme">
                <vg-media vg-src="controller.config.sources"></vg-media>
                <!-- <vg-controls>

                </vg-controls> -->
                <vg-overlay-play><vg-overlay-play>
                    <vg-poster vg-url='controller.config.plugins.poster'></vg-poster>
                    <vg-buffering></vg-buffering>
            </videogular>
        </div>
    </div>

    <!-- Lightbox -->
    <div class="container" id="lightbox" ng-controller="eventViewCtrl">
        <div class="row">
            <div class="column">
                <img src="https://firebasestorage.googleapis.com/v0/b/mosaicon-ffefe.appspot.com/o/eventsVid%2FTN1%20-%20playover.jpg?alt=media&token=b1df0c25-931e-4d96-849b-6be6bc20080d" style="width:100%" ng-click="openModal();currentSlide(1)" class="image_tn">
            </div>
            <div class="column">
                <img src="https://firebasestorage.googleapis.com/v0/b/mosaicon-ffefe.appspot.com/o/eventsVid%2FTN2%20-%20playover.jpg?alt=media&token=9b1470b7-5df4-4670-8f8c-bfeaa407171b" style="width:100%" ng-click="openModal();currentSlide(2)" class="image_tn">
            </div>
            <div class="column">
                <img src="https://firebasestorage.googleapis.com/v0/b/mosaicon-ffefe.appspot.com/o/eventsVid%2FTN3%20-%20playover.jpg?alt=media&token=389cd63a-9b39-4ab1-ad73-12154d91227b" style="width:100%" ng-click="openModal();currentSlide(3)" class="image_tn">
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div id="myModal" class="modal" ng-controller="eventViewCtrl">
        <span class="close-cursor" ng-click="closeModal()">&times;</span>
        <div class="modal-content">

            <div class="mySlides">
                <a class="syncTime">SYNC @02:37</a>
                <video src="https://firebasestorage.googleapis.com/v0/b/mosaicon-ffefe.appspot.com/o/eventsVid%2F157.mp4?alt=media&token=6b644319-a30d-4cec-a03b-ff402fa2a3e9" class="clip" style="width:100%;max-height: 400px" controls="false" muted poster="https://firebasestorage.googleapis.com/v0/b/mosaicon-ffefe.appspot.com/o/eventsVid%2FVG1%20-%20playover.jpg?alt=media&token=e8ea0ba8-54ac-4cd4-844f-b16c4638dcaf"/>
            </div>

            <div class="mySlides">
                <a class="syncTime">SYNC @09:56</a>
                <video src="https://firebasestorage.googleapis.com/v0/b/mosaicon-ffefe.appspot.com/o/eventsVid%2F596.mp4?alt=media&token=109f6f99-86f5-4b87-889e-80fe2fe9766f" class="clip" style="width:100%;max-height: 400px" controls="false" muted poster="https://firebasestorage.googleapis.com/v0/b/mosaicon-ffefe.appspot.com/o/eventsVid%2FVG2%20-%20playover.jpg?alt=media&token=7c175fd5-60c0-4cdf-90f7-cc59195285d8"/>
            </div>

            <div class="mySlides">
                <a class="syncTime">SYNC @12:45</a>
                <video src="https://firebasestorage.googleapis.com/v0/b/mosaicon-ffefe.appspot.com/o/eventsVid%2F765.mp4?alt=media&token=32299cb3-5a6a-4d26-9bd7-ae0716c3c677" class="clip" style="width:100%;max-height: 400px" controls="false" muted poster="https://firebasestorage.googleapis.com/v0/b/mosaicon-ffefe.appspot.com/o/eventsVid%2FVG3%20-%20playover.jpg?alt=media&token=6316001b-048b-429c-a7e2-6fb592b7efc1"/>
            </div>

            <a class="prev" ng-click="plusSlides(-1)">&#10094;</a>
            <a href="#!extPassportView/2CqRUcoNd0OPTwjv4cauOfZRCC82" id="usercomment">@met</a>
            <a class="next" ng-click="plusSlides(1)">&#10095;</a>

        </div>
    </div>

    <div id="mySingleModal" class="modal" ng-controller="eventViewCtrl as $ctrl">
        <div class="container" id="modalHeader">
            <span id="menu" style="font-size:30px;cursor:pointer" ng-click="openNav()">+</span>
            <span class="close-cursor" id="X" ng-click="closeSingleModal()">&times;</span>
        </div>

        <div id="myNav" class="overlay">
            <a href="javascript:void(0)" class="closebtn" ng-click="closeNav()">&times;</a>
            <div class="overlay-content">

                <!-- Alerts -->

                <div class="alert alert-success alert-dismissible" role="alert" ng-if="dati.feedback">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ dati.feedback }}</div>

                <div class="alert alert-danger alert-dismissible" role="alert" ng-if="dati.feedback_err">

                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                    {{ dati.feedback_err }}</div>


                <form role="form" ng-submit="addImage()">
                <file-upload id="uploadmedia" on-change="$ctrl.onChange">
                    <!-- <span id="addMedia" class="glyphicon glyphicon-upload"></span> -->
                </file-upload>

                <div class="form-group">
                    <textarea maxlength="150" type="text" class="form-control" id="commento" placeholder="Tell your Experience" ng-model="dati.content"></textarea>
                </div>

                    <button type="submit" class="btn btn-success center-block" id="upImg" ng-click="closeNav()">Upload</button>
                </form>
            </div>
        </div>

        <div ng-repeat="content in dati.event.content" class="modal-content" id="modalMedia">
            <img ng-src="{{content.url}}" style="width:100%; max-height:400px; border:solid 1px firebrick">
            <a class="nicknm" href="#!/passportView" style="padding-left: 10px;" ng-if="content.user_id === dati.id">@{{content.nickname}}</a>
            <a class="nicknm" href="#!/extPassportView/{{content.user_id}}" style="padding-left: 10px;" ng-if="content.user_id !== dati.id">{{content.nickname}}</a>
            <p id="storie" style="max-height: 100px; padding-left: 10px;">{{content.comment}}</p>
            <div>
                <div class="like_line">
            <button class="glyphicon glyphicon-heart like_btn" ng-click="likePic(content.event_id, content.id)" ng-if="content['record'][content.record_id][dati.id] === false || !content['record'][content.record_id][dati.id]"></button>
            <button class="glyphicon glyphicon-heart like_btn" style="color: firebrick;" ng-click="dislikePic(content.event_id, content.id)" ng-if="content['record'][content.record_id][dati.id] === true"></button>
                    <p id="like_count">{{content.like_count}}</p>
                </div>
            </div>
        </div>
        <div id="spazioBottom" style="height: 103px"></div>
    </div>

    <!-- Panel -->
    <div class="container" id="card" ng-controller="eventViewCtrl">
        <div class="card">
            <div class="card-header danger-color-dark white-text" id="cardHeader">
                <p id="cardTitle"><strong>{{dati.event.nome}}</strong></p>
            </div>
            <div class="card-block">
                <p class="card-text" id="cardText"><strong>{{dati.event.org}}</strong></br> @{{dati.event.luogo}}</br>{{dati.event.lineup}}</p>
                <img ng-src="{{dati.event.img}}" class="circular">
            </div>
        </div>
    </div>

    <!-- Gallery -->
    <div class="container" id="galleryContainer" ng-controller="eventViewCtrl">
        <div id="scroll">
            <div class="scrollbox">

                <img class="thumbnail" ng-repeat="content in dati.event.content" ng-src="{{content.url}}"  ng-click="openSingleModal()">

                <a class="thumbnail" ng-click="openSingleModal(); openNav()">
                    <button class="plusMedia">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </a>
            </div>
        </div>
    </div>

    <!-- Audiogular -->
    <div ng-app="myApp.eventView" ng-controller="eventViewCtrl">
        <div ng-controller="audioCtrl as controller" class="videogular-container">
            <videogular vg-player-ready="controller.onPlayerReady($API)" vg-update-state="controller.onUpdateState($state)" vg-update-time="controller.onUpdateTime($currentTime, $duration)" vg-theme="controller.config.theme.url" class="videogular-container audio">
                <vg-media vg-src="controller.config.sources" vg-type="audio" id="audioTrack"></vg-media>
                <vg-controls>
                    <vg-time-display>{{ currentTime | date:'mm:ss':'+0000' }}</vg-time-display>
                    <vg-scrub-bar>
                        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                    </vg-scrub-bar>
                    <vg-time-display>{{ timeLeft | date:'mm:ss':'+0000' }}</vg-time-display>
                </vg-controls>
            </videogular>
        </div>
    </div>
</div>