<head>
   <!-- <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script> -->

    <style>
        .md-datepicker-calendar-pane{
            z-index: 1200}
    </style>

    <style type="text/css">
        form.tab-form-demo .tab-pane {
            margin: 20px 20px;
        }
    </style>

</head>

<body>
    <div class="container" id="calendarContainer">
        <calendar class="calen" selected="day" elenco-eventi="allEvents.elencoEventi"></calendar>
    </div>

    <div class="container" id="card" ng-repeat="evento in allEvents.elencoEventi | filter: {'data' : day.format('DD/MM/YYYY')} : true">
        <div class="card">
            <div class="card-header danger-color-dark white-text" id="cardHeader">
                <b>{{evento.ora_i}}</b> - {{evento.nome}} | {{evento.luogo}}
                <a href="#!/eventView"><button id="join" ng-if="evento.$id === '0'"><img src="../images/adesivo.png"></button></a>
            </div>
        </div>
    </div>
</body>