<div class="blocco">
    <div map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{googleMapsUrl}}">
        <ng-map class="Gmap" center="current-location" zoom="11" id="mappa">
            <info-window class="container" position="current-location">
            <marker ng-repeat="pos in dati.vm.positions" position="{{pos.indirizzo}}"></marker>
                <!--    <marker ng-repeat="pos in dati.vm.positions" position="{{pos.lat}},{{pos.lng}}"></marker> -->
        </ng-map>
    </div>
</div>